
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.layout{
    width: 60%;
    margin: 0 auto;
}

.header-bg-rosa{
    height: 100px;
    background-color: #ff62d2;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-bg-giallo{
    background-color: #fdeb7e;
    height: 400px;
    margin-bottom: 20px ;
}

.main-container{
    background-color: #2289ff;
    height: 500px;
}

.main-header{
    height:60px;
    margin-bottom: 20px;
}

.main-bg-azzurro{
    background-color: lightblue;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.colonna1-3{
    height: 400px;
    width: 20%;
}
.colonna1{
    float: left;
    margin-right: 10px;
}

.colonna2{
    float: left;
    height: 400px;
    margin-right: 10px;
    width: calc(60% - 20px);
}

.colonna3{
    float: right;
}

.footer-bg-viola{
    background-color: #c437e9;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 40px;
}